//  Variables ------------------
$primary-color: rgba(6, 1, 46, .5);
$dark-color: rgba(09, 14, 0, 1);
$light-color: rgba(235, 240, 230, 1);
$gray-color: rgba(119, 111, 111, 1);


//  Mixins -----------------------

@mixin pseudo ($position: absolute, $display: block, $content: "") {
    position: $position;
    display: $display;
    content: $content;
}

//  Media Querys -----------------

@mixin atSmall {
    @media (min-width: 520px) {
        @content;
    }
}

@mixin atMedium {
    @media (min-width: 800px) {
        @content;
    }
}

@mixin atLarge {
    @media (min-width: 1025px) {
        @content;
    }
}